.head{
    background: #000;
    color:rgb(238, 230, 230);
  

}
.headup{
    background: #000;
    height: 100vh;
    padding: 5rem;
        font-family: var(--font-base);
        
}
.the{
    color:var(--color-golden);
    font-size: 90px;
    font-family: var(--font-base);
        color: var(--color-golden);
        font-weight: 700;
        letter-spacing: .04em;
        line-height: 117px;
      
}
.icon{
    color:var(--color-golden)
}
.sit{
    font-size: 20px;
    
}
.exp{
    padding:14px 29px;
    margin-top: 30px;
  
}
@media screen and(max-width:1150){
    .headup{
        margin: 10px;
    }

    
}
.piza{
    overflow-x: hidden;
    background: #000;
}
.piza img{
 
    margin: 6rem;
    width:70%;
}