.section_padding{
    padding:4rem 6rem;

}
.flex_center{
    /* background: url('./assets/bg.png'); */
    background-position:center;
    background-size: cover;
    background-repeat:repeat;
    background-attachment: fixed;

}
.app_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}